{% extends "siteUserBundle::layout.html.twig" %}
{% trans_default_domain 'siteUserBundle' %}

{% block titre %}<i class="fa fa-user"></i> {{ 'profile.action.confirmed'|trans|capitalize }}{% endblock titre %}

{% block fos_user_content %}
    <section id="section-gray">
    
        <div id="contact-page" class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 m-t-lg">
    				<h4>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h4>
                </div>
            </div>
        </div>

    </section>
    {#
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
    #}
{% endblock fos_user_content %}
