<div class="pull-right">
	<small>{{ 'footer.generation'|trans|capitalize }} </small><a href="http://wrapbootstrap.com/preview/WB0R5L90S" target='_blank'><strong class='text-muted'>INSPINIA+ Admin Theme</strong></a>
</div>
<div>
	<strong>Aequation-Webdesign</strong> {{ 'footer.rights'|trans|capitalize }} &copy; {{ annee() }}
</div>