{% extends 'sitesiteBundle:bases:base_simple.html.twig' %}

{% block sections %}

        <!-- Intro Section -->
        <section id="intro" class="full-screen-intro bg-img29">
            <div class="media-wapper bg-img parallax parallax-section1 overlay-dark" style="background-image: url({{ asset('bundles/sitesite/img/full/Guitare_galets.jpg') }});">
                <canvas id="pollyfill-canvas"></canvas>
            </div>
            <div class="full-cap-wraper">
                <div class="content-caption light-color">
                    <div class="container">
                        <h1>{{ pageweb.titreh1|raw }}</h1>
                        <br>
                        <h5>{{ pageweb.code|raw }}</h5>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->

{% endblock sections %}