<meta charset="utf-8" />
<title>{% block title %}{{ pageweb.title|default(keywords.title)|trans }}{% endblock title %}</title>
<meta name="description" content="{% block description %}{{ pageweb.metadescription|default(keywords.description)|trans }}{% endblock description %}" />
<meta name="keywords" content="{% block keywords %}{{ pageweb.keywords|default(keywords.keywords)|trans }}{% endblock keywords %}" />
<meta name="author" content="{{ webmaster.email }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->