<!-- COUNT INFO -->
<section class="slide-overlay-dark-gray">
	<div class="container">
		<h2 class="section-heading">La récolte 2016 en chiffres…</h2>
		<div class="row waypoint">
			<div class="col-md-3">
				<div class="count-info">
					<span class="number countto">25400</span> <span class="text">Bouteilles</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="count-info">
					<span class="number countto">226</span> <span class="text">Jours de soleil</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="count-info">
					<span class="number countto">1258</span> <span class="text">mm de pluie</span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="count-info">
					<span class="number countto">366</span> <span class="text">altitude (m)</span>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END COUNT INFO -->
