<!-- FOOTER -->
<footer>
	<div class="container">
		<div class="footer-bottom">
			<p class="copyright-text left">&copy;{{ annee() }} {{ site.nom|default('') }} - Aequation Webdesign ©</p>
			<nav class="right">
				<p class="copyright-text"></p>
			</nav>
		</div>
	</div>
</footer>
<!-- END FOOTER -->
