<!-- CLIENTS -->
<section>
	<div class="container">
		<h2 class="sr-only">Nos partenaires</h2>
		<p class="text-center">Nos partenaires</p>
		<ul class="list-inline list-logo">
			<li>
				<a href="#"><img src="assets/img/clients/vinsdubugey.jpeg" alt="logo"></a>
			</li>
			<li>
				<a href="#"><img src="assets/img/clients/hautbugey.jpeg" alt="logo"></a>
			</li>
			<li>
				<a href="#"><img src="assets/img/clients/regionrh.png" alt="logo"></a>
			</li>
			<li>
				<a href="#"><img src="assets/img/clients/paysdubugey.png" alt="logo"></a>
			</li>
			<li>
				<a href="#"><img src="assets/img/clients/hautbugeycdc.png" alt="logo"></a>
			</li>
		</ul>
	</div>
</section>
<!-- END CLIENTS -->
