{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'siteUserBundle' %}

{% block soustitre %}<div class="page-breadcrumb">{{ 'profile.action.modify'|trans|capitalize }}</div>{% endblock soustitre %}

{% block fos_user_content %}
{% include "siteUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}