services:
#    site_user.example:
#        class: site\UserBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]

    site_user.registration.form.type:
        class: site\UserBundle\Form\Type\RegistrationFormType
        arguments: [%fos_user.model.user.class%]
        tags:
            - { name: form.type, alias: site_user_registration }

    site_user.profile.form.type:
        class: site\UserBundle\Form\Type\ProfileFormType
        arguments: [@service_container]
        tags:
            - { name: form.type, alias: site_user_profile }

    # aetools.aeLaboUser:
    #     class: site\UserBundle\services\aeServiceLaboUser
    #     arguments: [@fos_user.user_manager, @security.encoder_factory]

    aetools.aeServiceUser:
        class: site\UserBundle\services\aeServiceUser
        arguments: [@service_container]
