{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'siteUserBundle' %}

{% block soustitre %}<div class="page-breadcrumb">{{ 'resetting.password_allready_title'|trans|capitalize }}</div>{% endblock soustitre %}

{% block fos_user_content %}
	<div class="panel panel-default">
		<div class="panel-body">
			<p>{{ 'resetting.password_already_requested'|trans|capitalize }}</p>
		</div>
	</div>
{% endblock fos_user_content %}
