{% extends "siteUserBundle::layout.html.twig" %}
{% trans_default_domain 'siteUserBundle' %}

{% block titre %}<i class="fa fa-user"></i> {{ 'resetting.password_allready_title'|trans|capitalize }}{% endblock titre %}

{% block fos_user_content %}
	<section id="section-gray">
	
		<div id="contact-page" class="container-fluid"><!--container-->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 m-t-lg">
					<h4>{{ 'resetting.password_already_requested'|trans|capitalize }}</h4>
				</div>
			</div>
		</div>

	</section>
{% endblock fos_user_content %}
