{% extends "siteUserBundle::layout.html.twig" %}
{% trans_default_domain 'siteUserBundle' %}

{% block soustitre %}<div class="page-breadcrumb">{{ 'security.login.forgotten'|trans|capitalize }}</div>{% endblock soustitre %}

{% block fos_user_content %}
{% include "siteUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
