{% extends 'sitesiteBundle::base_pages.html.twig' %}
{% set cssjsloads = 'form' %}

{% trans_default_domain 'siteUserBundle' %}


{% block content %}

	<section>
		<div class="container">
			<div class="row">

				<div class="col-xs-12">
					<h1 class='title text-center'>{% block titre %}Utilisateur{% endblock titre %}</h1>
					{% if form is defined %}{% form_theme form 'siteUserBundle:Form:formuser-override.html.twig' %}{% endif %}
					{% block fos_user_content %}
					{% endblock fos_user_content %}
				</div>

			</div>
		</div>
	</section>

{% endblock content %}

